doctype html
html
	head
		title Modus
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel='stylesheet', href='./css/build.css', type='text/css' )
		link(rel='stylesheet', href='./css/jquery.circliful.css', type='text/css' )
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		script(src='./js/lib.js')
		script(src='./js/build.js')
	body
		div.header
			div.main-wrapper
				div.logo Modus<span>versus</span>
				div.menu-wrapper
					div.menu-item HOME
					div.menu-item ABOUT
					div.menu-item SERVICES
					div.menu-item PORTFOLIO
					div.menu-item BLOG
					div.menu-item FEATURES
					div.menu-item CONTACTS
				img(src='./images/magnifier.png')
			div.menu-path
		div.main-slider
			div.slider-left
				div.move.left-pointer
					<p><<</p>
			div.slider
				div.slider-content-wrapper.current_slide
					div.slider-title
						p VESTIBULUM
					div.slider-text
						p Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
				div.slider-content-wrapper
					div.slider-title.slider-none
						p MAECENAS
					div.slider-text.slider-none
						p Ut eleifend libero sed neque rhoncus consequat.
				div.slider-content-wrapper
					div.slider-title.slider-none
						p SUSPENDISSE
					div.slider-text.slider-none
						p Ut eleifend libero sed neque rhoncus consequat. Ut eleifend libero sed neque rhoncus consequat.
			div.slider-right
				div.move.right-pointer
					<p>>></p>
		div.main.main-color
			div.main-wrapper
				div.wrapper-band
					div.band.band-color
					div.band
					div.band
				div.see-services
					div.wrapper-see-title-text
						p.see-title Some of our top services
						p.see-text Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
					div.see-button
						p VIEW MORE
				div.read-more-wrapper
					div.read-more
						div.icon-logo
							<i class="fa fa-thumbs-up icon-style" aria-hidden="true"></i>
						p.read-more-title SUSPENDISSE
						p.read-more-text  Quisque id tellus quis risus vehicula vehicula ut turpis. In eros nulla, placerat vitae at, vehicula ut nunc.
						div.read-more-button
							p read more

					div.read-more
						div.icon-logo
							<i class="fa fa-key icon-style" aria-hidden="true"></i>
						p.read-more-title MAECENAS
						p.read-more-text  Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
						div.read-more-button
							p read more
					div.read-more
						div.icon-logo
							<i class="fa fa-flag icon-style" aria-hidden="true"></i>
						p.read-more-title ALIQUAM
						p.read-more-text  Vivamus eget ante bibendum arcu vehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non.
						div.read-more-button
							p read more
					div.read-more.no-margin-right
						div.icon-logo
							<i class="fa fa-flask icon-style" aria-hidden="true"></i>
						p.read-more-title HABITASSE
						p.read-more-text  Astehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non.
						div.read-more-button
							p read more
		div.wrapper-why
			div.why-path
			div.main-wrapper
				div.why
					p.why-title WHY MODUS VERSUS?
					P.why-text Capacitance cascading integer reflective interface data development high bus cache dithering transponder.
					img.why-image-left(src='./images/image-little.png')
					img.why-image(src='./images/image-why-main.png')
					img.why-image-right(src='./images/image-little.png')
		div.wrapper-img
		div.wrapper-stat
			div.stat
				div.main-wrapper
					div.why-choose-us
						p.why-title Why Choose Us ?
						div.why-menu
							p <i class="fa fa-arrow-right icon-menu" aria-hidden="true"></i> Quisque at massa ipsum
							p <i class="fa fa-arrow-right icon-menu" aria-hidden="true"></i> Maecenas a lorem augue, egestas
							p <i class="fa fa-arrow-right icon-menu" aria-hidden="true"></i> Cras vitae felis at lacus eleifend
							p <i class="fa fa-arrow-right icon-menu" aria-hidden="true"></i> Etiam auctor diam pellentesque
							p <i class="fa fa-arrow-right icon-menu" aria-hidden="true"></i> Nulla ac massa at dolor
							p <i class="fa fa-arrow-right icon-menu" aria-hidden="true"></i> Condimentum eleifend vitae vitae
					div.wrapper-diagram
						div.stat-text-diagram
							p.stat-text Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus vehicula mattis. Nulla ac massa at dolor condimentum eleifend vitae vitae urna.
						div.stat-diagram
							div.stat-diagram-wrapper
								<div id="1-circle" data-animation="0"></div>
							div.stat-diagram-wrapper
								<div id="2-circle" data-animation="0"></div>
							div.stat-diagram-wrapper
								<div id="3-circle" data-animation="0"></div>
							div.stat-diagram-wrapper
								<div id="4-circle" data-animation="0"></div>
					div.why-choose-us.right
						p.why-title What Client's Say ?
						div.why-message-wrapper
							p.why-message Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus vehicula mattis. Nulla ac massa at dolor condimentum
						div.why-wrapper-sign
							div.why-treangle
							p.why-sign Jhon Doe
					div.happy-wrapper
						div.happy-clients-wrapper
								p.happy-clients Our Happy Clients
						div.circle-row-wrapper
							div.happy-clients-circle
							div.happy-clients-row
						div.happy-switch-wrapper
							div.happy-switch
								<i class="fa fa-chevron-right icon-switch" aria-hidden="true"></i>
							div.happy-switch
								<i class="fa fa-chevron-left icon-switch" aria-hidden="true"></i>
					div.jquery-wrapper
						div.jquery
							img.jquery-image(src='./images/jquery.png')
						div.jquery
							img.jquery-image(src='./images/jquery.png')
						div.jquery
							img.jquery-image(src='./images/jquery.png')
						div.jquery
							img.jquery-image(src='./images/jquery.png')
						div.jquery
							img.jquery-image(src='./images/jquery.png')
						div.jquery.no-margin-right
							img.jquery-image(src='./images/jquery.png')
		div.wrapper-footer
			div.footer-path
			div.footer
				div.main-wrapper
					div.footer-contacts
						div.logo Modus<span>versus</span>
						div.footer-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec .
						div.footer-addres Phone:<span>182 2569 5896</span>
						div.footer-addres e-mail:<span>    info@modu.versus</span>
					div.footer-menu
						p.footer-menu-title Company
						div.footer-item-wrapper
							p <i class="fa fa-chevron-right footer-icon" aria-hidden="true"></i>About
							p <i class="fa fa-chevron-right footer-icon" aria-hidden="true"></i> FAQ
							p <i class="fa fa-chevron-right footer-icon" aria-hidden="true"></i> Contact
							p <i class="fa fa-chevron-right footer-icon" aria-hidden="true"></i> Terms
							p <i class="fa fa-chevron-right footer-icon" aria-hidden="true"></i> Privacy
							p <i class="fa fa-chevron-right footer-icon" aria-hidden="true"></i> Testimentionals
					div.footer-menu
						p.footer-menu-title Community
						div.footer-item-wrapper
							p <i class="fa fa-chevron-right footer-icon" aria-hidden="true"></i>Blog
							p <i class="fa fa-chevron-right footer-icon" aria-hidden="true"></i>Forum
							p <i class="fa fa-chevron-right footer-icon" aria-hidden="true"></i>Support
							p <i class="fa fa-chevron-right footer-icon" aria-hidden="true"></i>Newsletter
					div.footer-blog
						p.footer-blog-title from the <span>BLOG</span>
						div.footer-blog-wrapper
							div.footer-blog-image
								<i class="fa fa-picture-o footer-image-icon" aria-hidden="true"></i>
							p.footer-blog-text Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p.footer-blog-date 26 May, 2017
						div.footer-blog-wrapper
							div.footer-blog-image
								<i class="fa fa-picture-o footer-image-icon" aria-hidden="true"></i>
							p.footer-blog-text Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p.footer-blog-date 26 May, 2017

		div.footer-social
			div.main-wrapper
				p.footer-social-text 2018 Modus Versus
				div.social-images
					img(src='./images/Facebook.png')
					img(src='./images/g.png')
					img(src='./images/twitter.png')
					img(src='./images/wifi.png')





