.footer-icon 
	color #ffffff
	font-size 14px !important
	margin-right 8px
.footer-image-icon
	color #ffffff
	font-size 30px !important
	margin 20px			
.wrapper-footer
	position relative
	background  #76c7c0
	.footer-path
		background url('../images/path.png') repeat-x
		height 19px
		opacity 0.2
	.footer
		width 100%
		background  #76c7c0
		min-height 350px
		overflow hidden
		.footer-contacts
			position relative
			float left 
			max-width 30%
			margin-right 35px
			margin-top 30px
			.footer-text
				font-family OpenSans
				font-size 13px
				color #fff
				line-height 1.5
				margin-bottom 35px
				margin-top 35px
			.footer-addres
				font-family OpenSans
				font-size 13px
				color #fff
				margin-bottom 21px
				span
					font-family OpenSans-SemiboldItalic
					color #fff
					font-size 20px
					padding-left 20px
					cursor pointer
			margin 20px
		@media screen and (max-width: 1140px)
			.footer-contacts
				width 100%	
				margin-left 14%
				.footer-text
					font-size 20px	
					padding-right 20%
		@media screen and (max-width: 950px)
			.footer-contacts
				min-width 100%
				float none
				margin-top 0px
		.footer-menu
			position relative
			float left
			margin-right 85px
			max-width 30%
			p.footer-menu-title
				font-family OpenSans-Bold
				font-size 20px
				color #000
				opacity 0.5
				margin-bottom 35px
				margin-top 50px
			.footer-item-wrapper
				font-family OpenSans
				color #fff
				font-size 13px
				margin-bottom 13px
				margin-left 22px
				cursor pointer
		@media screen and (max-width: 1140px)
			.footer-menu
				min-width 100%	
				float none
				margin-left 14%
				.footer-item-wrapper
					font-size 20px
		@media screen and (max-width: 950px)
			.footer-menu
				width 100%	
		.footer-blog
			position relative
			float right
			width 29%
			margin-top 50px
			p.footer-blog-title
				font-family OpenSans-Italic
				font-size 20px
				color #fff
				margin-bottom 5px
				span
					font-family OpenSans-Bold
					font-size 20px
					color #fff
			.footer-blog-wrapper
				margin-top 20px
				padding-top 20px
				position relative
				.footer-blog-image
					position relative
					float left
					width 70px
					height 70px
					border-radius 6px
					background #5e9f9a
					opacity 0.5
					margin-right 15px
				.footer-blog-text
					font-family OpenSans
					font-size 13px
					color #fff
					line-height 1.5
				.footer-blog-date
					font-family OpenSans
					font-size 13px
					color #000
					opacity 0.5
		@media screen and (max-width: 1150px)
			.footer-blog
				min-width 100%
				float left
				margin-left 14%
				margin-bottom 50px
		@media screen and (max-width: 950px)
			.footer-blog
				min-width 100%
				float none	
				.footer-blog-text
					padding-right 20%
.footer-social
	position relative
	width 100%
	height 50px
	background #6ab3ac
	.footer-social-text
		font-family OpenSans
		color #fff
		font-size 12px
		float left
		padding-top 17px
	.social-images
		position relative 
		float right
		display inline-block
		img
			padding-top 13px
			margin-left 25px
			cursor pointer

				