.header
	overflow hidden
	position fixed
	width 100%
	background #76c7c0
	min-height 80px
	z-index 2000
	img
		position relative
		cursor pointer
		margin-top 35px
		float right
	.menu-path
		background url('../images/path-menu.png') repeat-x
		height 8px
@media screen and (min-width: 800px) {
  .header-wrapper {
    padding-left 7%
  }
}
@media screen and (max-width: 800px) {
  .header {
    position relative
  }
}