@font-face 
	font-family "OpenSans-Semibold"
	src url("../fonts/OpenSans_Semibold/OpenSans-Semibold.eot")
	src url("../fonts/OpenSans_Semibold/OpenSans-Semibold.woff") format("woff")
	src url("../fonts/OpenSans_Semibold/OpenSans-Semibold.ttf") format("truetype")


@font-face	
{    
	font-family "OpenSans-Extrabold"
	src url("../fonts/OpenSans_Extrabold/OpenSans-Extrabold.eot")
	src url("../fonts/OpenSans_Extrabold/OpenSans-Extrabold.woff") format("woff")
	src url("../fonts/OpenSans_Extrabold/OpenSans-Extrabold.ttf") format("truetype")
}
@font-face	
{    
	font-family "OpenSans"
	src url("../fonts/OpenSans/OpenSans.eot")
	src url("../fonts/OpenSans/OpenSans.woff") format("woff")
	src url("../fonts/OpenSans/OpenSans.ttf") format("truetype")
}
@font-face	
{    
	font-family "OpenSans-Bold"
	src url("../fonts/OpenSans_Bold/OpenSans-Bold.eot")
	src url("../fonts/OpenSans_Bold/OpenSans-Bold.woff") format("woff")
	src url("../fonts/OpenSans_Bold/OpenSans-Bold.ttf") format("truetype")
}
@font-face	
{    
	font-family "OpenSans-Italic"
	src url("../fonts/OpenSans_Italic/OpenSans-Italic.eot")
	src url("../fonts/OpenSans_Italic/OpenSans-Italic.woff") format("woff")
	src url("../fonts/OpenSans_Italic/OpenSans-Italic.ttf") format("truetype")
}
@font-face	
{    
	font-family "OpenSans-SemiboldItalic"
	src url("../fonts/OpenSans_SemiboldItalic/OpenSans-SemiboldItalic.eot")
	src url("../fonts/OpenSans_SemiboldItalic/OpenSans-SemiboldItalic.woff") format("woff")
	src url("../fonts/OpenSans_SemiboldItalic/OpenSans-SemiboldItalic.ttf") format("truetype")
}
*
	padding 0
	margin 0
	

.main-wrapper
	position relative
	max-width 1170px
	margin 0 auto

.logo
	position relative
	font-family OpenSans-ExtraBold
	font-size 30px
	color #ffffff
	margin 16px 0
	display inline-block
	margin-right 20%
	span
		font-family OpenSans
		font-size 25px
@media screen and (max-width: 800px) 
	.logo
		margin-left 2%
.band.band-color 
	background #e2534b