.menu-wrapper
	position relative
	display inline-block
@media screen and (max-width: 800px) {
  	.menu-wrapper {
    	margin-left 0
    	display block
  	}
}
	.menu-item
		position relative
		display inline
		font-family OpenSans-Semibold
		font-size 13px
		color #fff
		margin-right 5%
		padding 2%
		cursor pointer
    	
	@media screen and (max-width: 800px) {
  	.menu-item {
    	margin-left 0
    	display block
    	text-align center
    	font-size 20px
    	border 2px #fff solid
    	margin-right 0
    	
  	}
  	}
  	@media screen and (max-width: 1065px) {
  	.menu-item {
    	display inherit
    	
  	}
	}

