.read-more-wrapper
	position relative
	overflow hidden
.read-more
	position relative 
	min-height 319px
	width 23%
	margin-right 27px
	float left
	margin-bottom 51px
	border-radius 5px
	background #f8f8f8
@media screen and (max-width: 1130px) {
	.read-more {
		width 44%
		margin-left 27px
	}
}
@media screen and (max-width: 950px) {
	.read-more {
		width 100%
		margin-left 0px
	}
}
	.read-more-logo
		position relative
		float none
		margin 40px auto
		display block	
	.read-more-title
		position relative
		font-family OpenSans-ExtraBold
		font-size 16px
		color #7f8c8c
		text-align center
		margin-bottom 40px
	@media screen and (max-width: 1130px) {
		.read-more-title {
		font-size 22px
		
	}
}
	.read-more-text
		position relative
		font-family OpenSans
		font-size 13px
		color #777777
		text-align center
		margin-right 20px
		margin-left 20px
		display inline-block
	@media screen and (max-width: 1130px) {
		.read-more-text {
		font-size 15px
	}
}

	.read-more-button
		position absolute
		width 195px
		height 50px
		z-index 1
		background #76c7c0
		top 287px
		left 36px
		border-radius 4px
		p 
			color #fff
			font-family OpenSans-Semibold
			font-size 14px
			text-align center
			margin-top 15px
			cursor pointer
	@media screen and (max-width: 1130px) {
		.read-more-button {
			left 19%
			width 62%
	}
}
	@media screen and (max-width: 950px) {
		.read-more-button {
			width 86%
			left 7%
	}
}
@media screen and (max-width: 950px) {
		.read-more-button p{
			font-size 20px
			margin-top 11px
	}
}
.no-margin-right 
	margin-right 0px
.main-color
	background #f3f3f3
.icon-style
	font-size 60px !important
	color #62bdbd
.icon-logo
	margin 40px auto
	width 100%
	text-align center
	position relative
