.see-services
	position relative
	background #ececec
	border-radius 3px
	margin-bottom 53px
	overflow hidden
@media screen and (max-width: 1065px) {
		.see-services{
			padding-bottom 20px
	    }
	  }
	.wrapper-see-title-text
		position relative
		overflow hidden
		display inline-block
		.see-title
			position relative
			font-family OpenSans-Semibold
			font-size 30px
			color #7f8c8c
			display block
			margin-left 30px
			margin-bottom 10px
			margin-top 30px
		@media screen and (max-width: 1065px) {
			.see-title{
				font-size 36px
				text-align center
				margin-left 5px
		    }
		  }
		.see-text
			position relative
			font-family OpenSans
			font-size 13px
			color #7f8c8c
			display block
			margin-left 30px
			margin-bottom 25px
		@media screen and (max-width: 1065px) {
			.see-text{
				font-size 16px
				margin-right 25px
		    }
		  }
	.see-button
		position relative
		min-height 50px
		min-width 200px
		background #e8645a
		float right
		border-radius 4px
		margin-right 38px
		margin-top 34px

		p
			text-align center
			font-family OpenSans-Semibold
			font-size 20px
			color #fff
			padding-top 10px
			cursor pointer
	@media screen and (max-width: 1130px) {
		.see-button {
			margin-right 10px !important
			margin-left 10px
			float none
	    }
	  }
